
*{
font-family: Arial, Helvetica, sans-serif;

}


img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

p{
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}

a{
    color: white;
    text-decoration: none;
}




.highlight{
    width: 80px;
    padding: 5px;
    font-size: 18px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.red{
    background-color: red;
}
.green{
background-color: green;
}


.container{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.details{
    justify-self: flex-end;
    margin: 0 10px;

} 



.coinDetails{
    display: flex;
    align-items: center;
}
.coinDetails>img{
    padding-left: 0;
    padding-right: 20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
    margin-bottom: 20px;
}

.pagination{
    margin:15px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pagination>table{
    margin-top: 10px;
}



/* loading */
.loader{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loadImg{
    display: inline-block;
    width: 7rem;
    height: 7rem;
    border: 5px solid white;
    border-radius: 50%;
    border-top: 5px solid black;
    margin-bottom: 10px;
    animation: 1s spin infinite ease-in-out;
}


.blocker{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

/* Media Query */
@media screen and (max-width: 950px){

    .blocker{
        display: block;
    }
    
    .app{
        display: none;
    }
    

}

